* {
    margin: 0;
    padding: 0;
    outline: none;
  }
/* ajustation */ 
body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: 100vh;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container {
    position: relative;
}
form {
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    /* effet sympa (dégradé)*/
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .3);
    text-align: center;
}
/* bienvenue */
p {
    color: white;
    font-weight: 500;
    opacity: .3;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px (0, 0, 0, .2);
}
/* forgot your password */
a {
    color: #ddd;
    text-decoration: none;
    font-size: 12px;
    transition: all .3s;
}
a:hover {
    text-shadow: 2px 2px 6px rgb(0,0);
}
/* formulaire */
input {
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, .6);
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    box-sizing: unset;
    border-style: solid;
    /* backdrop-filter: blur(5px); */
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0, .2);
    color: white;border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);

/* texte formulaire */
::placeholder {
    color: white;
}

/* interaction texte formulaire */
input:hover,
input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, .2);
}

input[type="button"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}

.drop{
    background: rgba(255, 255, 255, .3)
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .2)
}

.drop-1 {
    height: 80px; width: 80px;
    top: -20px; left: -40px;
    z-index: -1
}

.drop-2 {
    height: 80px; width: 80px;
    top: -30px; left: 10px;
    z-index: -1
}